{% extends '_base.html' %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
<div class="container-fluid my-4">
    <div class="d-flex flex-wrap">
        <div class="flex-shrink-0">
            {% if book.cover %}
            <img src="{{ book.cover.url }}" alt="{{ book.title }}" class="img-fluid" style="max-width: 200px;">
            {% endif %}
        </div>
        <div class="flex-grow-1 mx-4">
            <div>
                <hr>
                <strong>Title:</strong> {{ book.title }}
                <hr>
                <strong>Price:</strong> {{ book.price }}
                <hr>
                <strong>Author:</strong> {{ book.author }}
                <hr>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <h2>Reviews</h2>
        <hr>
        <ul class="list-unstyled">
            {% for review in book.reviews.all %}
            <li class="mb-2">
                <p>{{ review.review }}</p>
                <footer class="blockquote-footer">{{ review.author }}</footer>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}

